body {
        margin: 0px auto 0px auto;
	width: 900px;
	font-family:Arial, Helvetica,"Arial AMU";
}

/*index styles*/
#top{
    width:100%;
    overflow:hidden;
    border-bottom:6px solid #000099;
    display:block;
    margin-top:30px;
}

#mainNav{
    margin-top:21px;
    width:100%;
}
#mainNav ul {
    margin-left:23px;
}
#mainNav ul li{
    float:left;
}
#mainNav ul li a{
    text-decoration:none;
    color:#333;
    display:block;
    padding: 10px 21px;
    margin-right:1px;
    font-size:15px;
}

#mainNav ul li a:hover{
    color:#fff;
    background:#000099;
}

#mainNav ul li a.selected{
    color:#fff;
    background:#000099;
    
}

ol, ul {
  list-style:none;
}

.logo{
    width:155px;
    height:55px;
    background:url(../images/logo.jpg) left no-repeat;
    float:left;
    margin-right:15px;
    margin-bottom:1px;
}

#footer ul li{
	float:left;
	font-size:12px;
	color:#333333;
	margin-right:15px;
	border-right:1px solid #666666;
	padding-right:15px;
	
}



#footer ul li a{
	text-decoration:none;
	color:#333333
}

#footer ul li a:hover{
	color:#000000;
	}



#footer {
    border-top:6px solid #E8E8E8;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

#footerHR
{
    border-top:2px solid #E8E8E8;
    margin: 20px 0px 0px 0px;
}

