a:focus { outline: 1px dotted invert; }

hr { border-color: #ccc; border-style: solid; border-width: 1px 0 0; clear: both; height: 0; }

h1 { font-size: 32px; }
h2 { font-size: 23px; }
h3 { font-size: 21px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
h6 { font-size: 15px; }

h1, h2, h3, h4, h5, h6 { line-height:1.2em; margin-bottom:.3em; }
h2 { margin-top:1em; }


ol { list-style: decimal; }
ul { list-style: none; }


p, dl, hr, h1, h2, h3, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom: 10px; }
li, p { line-height: 24px; }

blockquote { padding-left:1em; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 12px; }

a { color: #000099; font-weight:normal; text-decoration: none; }
a:hover { color: #606; }
h1 a { font-weight:normal; }
h2 a { font-weight:normal; }


.postdate { float: right; margin: -2.4em 0 0 0; padding: 4px;
            background-color: #AAA; color: #FFF; }
.tagdate { float: right; margin: -2.4em 0 0 0; padding: 4px;
           background-color: #AAA; color: #FFF; }

.tags { display:block; padding: 7px 5px; text-align:right; }
div.tags span.tag { background-color: #CCC; padding: 2px 5px; }
.tagcloud {
    background-color: #CCC; line-height: 200%;
    padding: 2px 5px; margin-bottom: 5px;
}



#hrDiv
{
    overflow:hidden;
    border-bottom:3px solid #000099;
    display:block;
    margin-left:15px;
 
}



#footerHR
{
    border-top:2px solid #E8E8E8;
    margin: 0px 0px 0px 0px;
}

.logo{
    width:155px;
    height:55px;
    float:left;
    margin-right:15px;
    margin-bottom:1px;
   margin-left: 0px; 
}

#sidebar ul {
  list-style:none;
  text-indent:-2em;
//font-size:small;
}

#sidebar .nested{
  margin:0 0px;
  padding:3px 10px;
  text-decoration:none;
font-size:small;
text-indent: 0em;
}
#sidebar {
 
 // font-size:small;
 
  text-indent:0em;
  list-style-type:none;
}


.postdate { float: right; margin: -2.4em 0 0 0; padding: 4px;
            background-color: #AAA; color: #FFF; }
.tagdate { float: right; margin: -2.4em 0 0 0; padding: 4px;
           background-color: #AAA; color: #FFF; }

.tags { display:block; padding: 7px 5px; text-align:right; }
div.tags span.tag { background-color: #CCC; padding: 2px 5px; }
.tagcloud {
    background-color: #CCC; line-height: 200%;
    padding: 2px 5px; margin-bottom: 5px;
}



/* footer menu item style*/

#footer #menu li {
font-size: 14px;
 margin-right: 0px;
margin-left: 0px;
  border-right: 1px solid #222;
padding: 0 10px;
font: Arial AMU, sans-serif;
}

#footer #menu li a {
  text-decoration: none;
  color: #aaa;
  font: 'Arial AMU', sans-serif;
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
}

#footer #menu li a:hover {
  color: #111;
}


/* heade menu item style*/
* {margin: 0; padding: 0;}

#header #menu {
  margin: 0px 0px 20px 0px;
}

#header #menu ul {
  overflow: auto;
  list-style-type: none;
}

#header #menu li {
  height: 22px;
  float: left;
  margin-right: 0px;
margin-left: 0px;
  border-right: none;
  padding: 0 12px;
}

#header #menu li:last-child {
  border-right: none;
}

#header #menu li a {
  text-decoration: none;
  color: #aaa;
  font: Arial AMU, 12px/1 Helvetica, Verdana, sans-serif;
  -webkit-transition: all 0.5s ease;
}

#header #menu li a:hover {
  color: #000099;
  
}

#header #menu li.active a {
  font-weight: bold;
  color: #000099;
}


/*HelvetiList */



#sideMenu  h5 {
  font: 18px/1.5 Helvetica, Arial AMU, sans-serif;
  margin: 0px 0px 10px 0px;
  padding: 0;
}

#sideMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sideMenu li {
  font: 200 14px/1.5 Helvetica, Arial AMU, sans-serif;
 // border-bottom: 1px solid #fff;
}

#sideMenu li:last-child {
  border: none;
}

#sideMenu li a {
  text-decoration: none;
  color: #aaa;
  display: block;
border-bottom: 1px solid #fff;

 }

#sideMenu li a:hover {
  font-size: 14px;
  color:#333;
  background: #f6f6f6;
 border-bottom: 1px solid #ccc;
}



/* posts list ul */

#posts {
    margin-top:30px;
   
}

/*body wrapper div class*/

.info {

margin-top:40px;
}



/* testing center list style */

.places{
	float:left; 
	width:659px;
	margin-top:1px;
}

.places h1{
font-size:24px;
color:#000;
padding:25px 0 0 0;
}

.places p{
	font-size:13px;
	padding:20px 0;
	line-height:24px;
}

.places th{
	font-size:14px; 
	background:#E8E8E8; 
	color:#000;
	padding:10px;
	text-align:left;
}

.places td{
	font-size:12px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
}

/*.places td a{
	text-decoration:none;
	color:#000;
}
.places td a:hover{
	color:#000033;
}*/


.places th:after, .examdates td:after{
	border-right:none;
}




/* common styles */

h1, h2, h4 {
    
     margin-bottom: 10px;
     line-height: 1.2em;
     font-family: 'Yanone Kaffeesatz',Arial AMU, sans-serif;
}

h1 {
    font-size: 16px;
}

h4 {
    font-sizel:12px;
}


.postdate {
    background-color: #AAAAAA;
    color: #FFFFFF;
    float: right;
    margin: -2.4em 0 0;
    padding: 4px;
}





/*books grid*/
#books.table th.field {
    vertical-align: bottom;
}
#books.table .cover {
    float: none;
    margin: 0;
    width: 50px;
}

#books.table .cover .value img {
    display: block;
    width: 50px;
}


#books.table .field {
    padding: 5px 5px 5px 0;
    vertical-align: top;
}

#books.table .field {
    padding: 5px 5px 5px 0;
    vertical-align: top;
}
#books.table .header {
    font-weight: bold;
}
.tableListReverse td, .tableList th {
    border-top: 0 none rgba(0, 0, 0, 0);
}
.tableList th {
    padding-right: 0.5em;
}

td, th {
    font-size: 12px;
    line-height: 18px;
}


.idxlinknew {
    float: right;
}
.idxlinkold {
    float: left;
}
.idxlinkold, .idxlinknew {
    font-size: 125%;
}


/*shtemaran styles*/
.leftContainer {
    float: left;
    padding-right: 10px;
    width: 725px;
}
.leftContainer {
    word-wrap: break-word;
}
#topcol {
    margin-bottom: 0;
    width: 100%;
}
.col.last {
    margin-right: 0;
}
#imagecol {
    text-align: center;
    width: 150px;
}

#metacol {
    width: 455px;
}

.col {
    float: left;
    margin: 0 20px 10px 0;
}

.stacked {
    margin-bottom: 10px;
}

.bookCoverContainer {
    position: relative;
    text-align: center;
    width: 100%;
}
.bookCoverPrimary {
    height: 100%;
    width: 100%;
}

.bookCoverActions {
    display: none;
    margin-top: -40%;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.coverButtonContainer {
    margin-top: 15px;
    text-align: center;
}
.coverButtonContainer .coverButton {
    background-color: rgba(51, 51, 51, 0.7);
    border: 1px solid #181818;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px 8px;
}
.coverButtonContainer .coverButton a {
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.coverButtonContainer a {
    text-decoration: none;
}

#coverImage {
    display: block;
    margin: 0 auto 10px;
    max-width: 150px;
}

#bookTitle {
    font-size: 180%;
    font-style: normal;
    line-height: 1.1;
    margin-bottom: 0;
    width: 100%;
}
.bookTitle {
    font-family: georgia,serif;
    font-size: 120%;
}




#description, #details {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}
#details {
    color: #555555;
    font-size: 95%;
    padding-bottom: 5px;
}
#description {
    line-height: 1.4;
}
#description .floatingBox {
    left: 15%;
}
#description p {
    font-size: 14px;

}

.row1 {
    margin-bottom: 5px;
    font-size: 75%;
}

.readable {
    font-family: Arial AMU, Georgia,serif;
   // font-size: 115%;
}
.readable, .readable p, .readable ol, .readable ul, .readable td, .readable th {
    line-height: 1.4;
}
.readable .uitext a, .readable a.uitext, .readable .actionLinkLite a, .readable a.actionLinkLite {
    font-size: 12px;
}

.uitext, .uitext th, .uitext td, .uitext ul, .uitext ol, .uitext li {
    font-family: Arial AMU,Helvetica,Verdana,sans-serif;
}