

#hrDiv
{
    overflow:hidden;
    border-bottom:3px solid #000099;
    display:block;
    margin-left:15px;
 
}



#footerHR
{
    border-top:2px solid #E8E8E8;
    margin: 20px 0px 0px 0px;
}

.logo{
    width:155px;
    height:55px;
    float:left;
    margin-right:15px;
    margin-bottom:1px;
   margin-left: 0px; 
}

#sidebar ul {
  list-style:none;
  text-indent:-2em;
//font-size:small;
}

#sidebar .nested{
  margin:0 0px;
  padding:3px 10px;
  text-decoration:none;
font-size:small;
text-indent: 0em;
}
#sidebar {
 
 // font-size:small;
 
  text-indent:-2em;
  list-style-type:none;
}