<div class="leftContainer" itemtype="http://schema.org/Book" itemscope="">
  <div id="topcol" class="last col">

    <div id="imagecol" class="col">
      <div class="bookCoverContainer">
	<div class="bookCoverPrimary">
	  <a rel="nofollow" itemprop="image"
 href="$pdfUrl$" target="_blank">
	    <img id="coverImage" src="/images/books/$image$.jpg" alt="AAAa">
	  </a>
	</div>
	<div class="bookCoverActions" style="display: none;">
	  <div class="coverButtonContainer">
	    <div class="coverButton">
	      <a href="#">Other editions</a>
	    </div>
	  </div>
	  <div class="coverButtonContainer">
	    <div id="edition_10638_enlarge" class="coverButton enlargeCover"> Enlarge cover </div>
	    <div id="edition_10638_enlarge_cover" class="editionCover" style="display: none;">
	      <img src="#" alt="10638">
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <div id="metacol" class="last col">
     <a href="$pdfUrl$" target="_blank">
      <h1 itemprop="name" class="bookTitle" id="bookTitle"> $title$</h1>
     </a>
<br>
      <div id="description" class="readable stacked" style="right:0">
	<span>

        $if(description)$
	 $description$
	$endif$
	</span>
      </div>

      <div id="details" class="uitext stacked darkGreyText">
	<div class="row1">
	  <span itemprop="bookFormatType">փափուկ կազմ</span>
	  ,
	  <span itemprop="numberOfPages">$pages$ Էջ</span>
	</div>
	<!--	<div class="row1">
		Published January 9th 2007 by Vintage
		<nobr class="greyText"> (first published 2004) </nobr>
	</div>


	<div class="buttons">
	  
	  <a id="bookDataBoxShow" class="left inter actionLinkLite"
	     href="#" style="display: block;">more details...</a>
	  
	</div>
	-->
	

      </div>

    </div>

    <div class="clear"></div>
  </div>
</div>
