


<!-- Main Page Content and Sidebar -->

<div class="row">
  
  <!-- Main Blog Content -->
  <div class="large-9 columns content" role="content">
    <div class="large-12 columns">
      <h4>$title$</h4>
      
    </div>
    <div class="info" id="info">
      $body$
    </div>

  </div>

  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns right">
    <div id="sideMenu">
      <h5>Բուհական Մրցույթ</h5>
      <ul id="sidebar">
        <li><a href="/tags/contest/bouhakan mrcouyt2014.html">2014 Բուհական Մրցույթ</a>
	  <ul class="nested">
            <li><a href="/contest/2014/artefacts.html">Փաստաթղթեր</a></li>
          </ul>
	</li>
      </ul>
    </div>
    <br>
    
    
    $tagcloud$


  </aside>

  <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->

