<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ԳԹԿ - Գնահատման և Թեստավորման Կենտրոն | $title$</title>
    
    <meta name="description" content="">
      <meta name="author" content="">
            <link rel="shortcut icon" href="/favicon.png">
	    <link rel="alternate" type="application/rss+xml"  title="gtk.am" href="/rss.xml" />
	    <link href='http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic|Oxygen+Mono|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" type="text/css" href="/foundation/normalize.css">
	    <link rel="stylesheet" type="text/css" href="/foundation/foundation.css">
	    <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
	    <link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
	    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
	    <link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
	  </head>
	  <body>

	$partial("templates/headerclean.html")$

	

	<!-- Main Page Content and Sidebar -->

	<div class="row">
	  
	  <!-- Main Blog Content -->
	  <div class="large-9 columns content" role="content">
	    <div class="large-12 columns">
              <h1>$title$</h1>
	      
	    </div>
	    $body$
	  </div>

	  <!-- End Main Content -->


	  <!-- Sidebar -->

	  <aside class="large-3 columns right">

	    <div id="sideMenu">
	    <h5>Explore</h5>
	    <ul   class="side-nav">
              <li><a href="/explore/tea.html">Tea</a></li>
              <li><a href="/explore/music.html">Music</a></li>
              <li><a href="/explore/code.html">Code</a></li>
              <li><a href="/posts.html">Archive</a></li>
              <li><a href="/about.html">About</a></li>
	    </ul>
	    </div>

	    <h5>Tags</h5>

            $tagcloud$


	  </aside>

	  <!-- End Sidebar -->
	</div>

	<!-- End Main Content and Sidebar -->



	$partial("templates/footer.html")$
      </body>
    </html>
