
 <div class="row center">

<div class="large-12 columns center_text">

</div>

  <div class="large-2 columns center_text"  style="margin-top:30px">
    <a href="/" class="logo"><img src="/images/logo.jpg" /></a>
  </div>
  <div id="header" class="small-10 columns base_header center_text"  style="margin-top:50px;">
    <ul id="menu"  class="inline-list bottom">
      <li><a href="/">Գլխավոր</a></li>
      <li><a href="/">Ընթացիկ քննություն</a></li>
      <li><a href="/tags/miasnakan2013.html">Միասնական քննություն</a></li>
      <li><a href="/">Բուհական մրցույթ</a></li>
      <li><a href="/allTags.html">Պիտականոց</a></li>
      <li></li>
    </ul>
  </div>
<div class="small-12 columns left" id="hrDiv">
   
  </div>
</div>

  
