


	<!-- Main Page Content and Sidebar -->

	<div class="row">
	  
	  <!-- Main Blog Content -->
	  <div class="large-9 columns content" role="content">
	    <div class="large-12 columns">
              <h1>$title$</h1>
	      
	    </div>
<div class="info">
	    $body$
</div>
<br>
 
	  </div>

	  <!-- End Main Content -->


	  <!-- Sidebar -->

	  <aside class="large-3 columns right">

	    <h5>Պիտակներ</h5>
	   

<br>
	   $tagcloud$

	  </aside>

	  <!-- End Sidebar -->
	</div>

	<!-- End Main Content and Sidebar -->
