<!-- Main Page Content and Sidebar -->

<div class="row">
  
  <!-- Main Blog Content -->
  <div class="large-9 columns content" role="content">
    <div class="large-12 columns">
      <h1>$title$</h1>
      
    </div>

    <div class="info" id="info">
      $body$
<br>
    </div>
  
  </div>

  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns right">
    <div id="sideMenu">
      <h5>Շտեմարաններ</h5>
	  <ul class="nested">
            <li><a href="/shtemaran/armenian.html">Հայոց լեզու և հայ գրականություն</a></li>
            <li><a href="/shtemaran/russian.html">Ռուսաց լեզու</a></li>
	    <li><a href="/shtemaran/english.html">Անգլերեն</a></li>
	    <li><a href="/shtemaran/france.html">Ֆրանսերեն</a></li>
	    <li><a href="/shtemaran/english.html">Անգլերեն</a></li>
	    <li><a href="/shtemaran/germany.html">Գերմաներեն</a></li>
	    <li><a href="/shtemaran/math.html">Մաթեմատիկա</a></li>
	    <li><a href="/shtemaran/geography.html">Աշխարհագրություն</a></li>
	    <li><a href="/shtemaran/biology.html">Կենսաբանություն</a></li>
	    <li><a href="/shtemaran/chemistry.html">Քիմիա</a></li>
	    <li><a href="/shtemaran/history.html">Հայոց պատմություն</a></li>
    </div>
    <br>
    <h5>Պիտակներ</h5>
    <br>
    $tagcloud$


  </aside>

  <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->
