


	<!-- Main Page Content and Sidebar -->

	<div class="row">
	  
	  <!-- Main Blog Content -->
	  <div class="large-9 columns content" role="content">
	    <div class="large-12 columns">
              <h1>$title$</h1>
	      
	    </div>
<div class="info">
	    $body$
</div>
<br>
 Tagged: $tags$
	  </div>

	  <!-- End Main Content -->


	  <!-- Sidebar -->

	  <aside class="large-3 columns right">

	    <h5>Explore</h5>
	    <ul class="side-nav">
               <li><a href="/uexamday2014.html">2014 միջին գնահատականները</a></li>
        <li><a href="/uexamday2013">2013</a></li>
        <li><a href="/uexamday2012">2012</a></li>
        <li><a href="/uexamavarage">միջին գնահատականները</a></li>
	    </ul>

	    <h5>Tags</h5>

            $tagcloud$


	  </aside>

	  <!-- End Sidebar -->
	</div>

	<!-- End Main Content and Sidebar -->
