<div class="grid_12">
  $body$
</div>
<div class="grid_3">
  <div class="right-container">
<ul class="inline-list right">
   
        <li><a href="/uexamday2014.html">2014</a></li>
        <li><a href="/uexamday2013.html">2013</a></li>
        <li><a href="/uexamday2012.html">2012</a></li>
        <li><a href="/uexamavarage.html">միջին գնահատականները</a></li>
      </ul>    
    <div class="clear"></div>
      
    <br>
    <br>
    <p style="font-size:125%">Beeminder goal</p>
   
  </div>
</div>
