


<!-- Main Page Content and Sidebar -->

<div class="row">
  
  <!-- Main Blog Content -->
  <div class="large-9 columns content" role="content">
    <div class="large-12 columns">
      <h1>$title$</h1>
      
    </div>
    <div class="info" id="info">
      $body$
    </div>

  </div>

  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns right">
    <div id="sideMenu">
      <h5>Միասնական քննություններ</h5>
      <ul id="sidebar">
        <!-- <li><a href="/tags/miasnakan2014.html">2014 Միասնական քննություներ</a>
	     <ul class="nested">
               <li><a href="/exam/2014/phaseAdays.html">I Փուլ </a></li>
               <li><a href="/exam/2014/phaseBdays.html">II Փուլ</a></li>
	       <li><a href="/exam/2014/days.html">Քննական կենտրոններ</a></li>
	     </ul>
	</li>-->
        <li><a href="/tags/miasnakan2013.html">2013 Միասնական քննություներ</a>
	  <ul class="nested">
            <li><a href="/exam/2013/phaseAdays.html">I Փուլ </a></li>
            <li><a href="/exam/2013/phaseBdays.html">II Փուլ</a></li>
	    <li><a href="/exam/2013/days.html">Քննական կենտրոններ</a></li>
	  </ul>
	</li>
        <li><a href="/tags/miasnakan2012.html">2012 Միասնական քննություներ</a>
	  <!--<ul class="nested">
	      <li><a href="/exam/2012/phaseAdays.html">I Փուլ </a></li>
              <li><a href="/exam/2012/phaseBdays.html">II Փուլ</a></li>
	      <li><a href="/exam/2012/days.html">Քննական կենտրոններ</a></li>	
	  </ul>-->
	</li>

        <li><a href="/exam/average.html">Միջին գնահատականները</a></li>
      </ul>
    </div>
    <br>
    <h5 style="font-size:25px">Պիտակներ</h5>
    <br>
    $tagcloud$


  </aside>

  <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->
